
  .bg-midnight {
    background-color: #061f2e !important;
  }

  .text-light-gray {
    color: #d6d6d6;
  }

  .section-title {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .highlight {
    color: #ffc107; /* Bootstrap warning color */
  }

  .about-img {
    max-height: 330px;
    object-fit: cover;
    width: 95%;
  }