.navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #f39c12 !important;
}

.navbar-nav .nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #f39c12;
  width: 0;
  transition: width 0.3s;
  margin-top: 4px;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
}

.bg-midnight {
  background-color: #061f2e !important;
  color: white; /* Optional for contrast */
}
