.bg-midnight {
    background-color: #061f2e !important;
  }

  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .highlight {
    color: #ffc107;
  }

  .contact-card {
    background-color: #0d2d45;
    border: none;
    color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  }

  .form-control,
  .form-control:focus {
    background-color: #102f4a;
    border: 1px solid #284a68;
    color: white;
  }

  .form-control::placeholder {
    color: #b0bec5;
  }

  .btn-warning {
    color: #000;
    font-weight: 600;
    padding: 10px 25px;
  }

  .contact-info i {
    color: #ffc107;
    margin-right: 10px;
  }

  .contact-info p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #d6d6d6;
  }
  .contact-info 
  {
     padding-bottom: 40px;
     margin-right: 70px;
     padding-left: 150px;
     padding-top: 70px;
  }